/* GLOBAL STYLE*/
body.template {
	font-style: sans-serif;
}

/* BEGIN OF HEADER */
header.template {
	text-align: center;
	padding: 60px;
	background-size: contain;
	background-color: red; /* For browsers that do not support gradients */
	background-image: url(../img/gradient.jpg);
}
/** END OF HEADER **/



/* BEGIN OF NAVIGATION BAR */
nav.template {
	position: -webkit-sticky;
	position: sticky;
	top:0;
	overflow: auto;
	width:100%;
	min-width: 600px;
	background-color:rgb(240,240,240);
}
nav.template a {
	vertical-align: middle;
	float:left;
	padding:20px 66.5px;
	background-color:rgb(230,230,230);
}
nav.template a:hover {
	background-color: rgb(210,210,210);
}
/** END OF NAVIGATION BAR **/



/* BEGIN OF ASIDE SIDEBAR */
aside.template {
	position: -webkit-sticky;
	position: sticky;
	top:58px;
	float:left;
	overflow: auto;
	min-width: 180px;
	background-color: rgb(230,230,230);
}
aside.template div {
	padding: 10px;
	text-indent: 20px;
	overflow:auto;
}
aside.template div:hover {
	background-color: rgb(210,210,210);
}
/** END OF ASIDE SIDEBAR **/



/* BEGIN OF SECTION */
section.template{
	margin-left:200px;
	margin-right: 200px;
	margin-bottom: 100px
}
/** END OF SECTION **/



/* BEGIN OF FOOTER */
footer.template {
	text-align: center;
	width: 100%;
	min-width: 100px;
	background-color: rgb(240,240,240);
}
/** END OF FOOTER **/