{% extends "layout.html" %}
{% block content %}
	<h1>Hello, {{ current_user.username }}.</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.submit() }}
        </p>
    </form>
    <h2>Email: {{ current_user.email }}</h2>
    <h2>Your saved comparisons:</h2>
    <br>
    <br>
    <h2>Your feedback: <a href="{{ url_for('new_feedback') }}"> Submit Your Feedback </a></h2>
    {% for feed in feedback.items %}
    <h3>{{ feed.title }}</h3>
    <p>Submitted On: {{ feed.timestamp.strftime('%d-%m-%Y') }}</p>
    {% if current_user.id == feed.uid %}
        <div>
            <a href="{{ url_for('update_feedback', feedbackId=feed.id, currentpage='account') }}">Edit Feedback</a>
            <a href="{{ url_for('delete_feedback', feedbackId=feed.id, currentpage='account') }}">Delete Feedback</a>
        </div>
    {% endif %}
    <p>{{ feed.text }}</p>
    <br>
    {% endfor %}
    {% for page in feedback.iter_pages(left_edge=1, left_current=3, right_edge=1, right_current=4) %}
        {% if page %}
            <a href="{{ url_for('account', page=page) }}">{{ page }}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}


{% endblock content %}
