{% extends "layout.html" %}
{% block content %}
<script scr="https://d3js.org/d3.v5.js"></script>
<h1>COMPARE SUBREDDITS AND STATISTICS</h1>


    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.subreddit1(size=32) }}
            {% for error in form.subreddit1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.subreddit2(size=32) }}
            {% for error in form.subreddit2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

<h1 id="Title_sub1">{{ sub1_data["data"]["display_name"] }}</h1>
<p id="Sub1"> Subscribers = {{ sub1_data["data"]["subscribers"] }}</p>
<p id="Active1"> Active Accounts = {{ sub1_data["data"]["accounts_active"] }}</p>

{% if sub2_data %}
<h1 id="Title_sub2">{{ sub2_data["data"]["display_name"] }}</h1>
<p id="Subs2"> Subscribers = {{ sub2_data["data"]["subscribers"] }}</p>
<p id =Active2> Active Accounts = {{ sub2_data["data"]["accounts_active"] }}</p>
{% endif %}


<h2>Compare Subreddits For Statistics</h2>
<p>Find out how your subreddit compares to other subreddits. Or track the changes you make with our ranking system</p>
<h3>You Can Compare The Following:</h3>


<ul>
	<li>Subscribers</li>
	<li>Active Users</li>
</ul>

{% endblock content %}
