<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>Web Dev Project - {{title}}</title>
	{% else %}
	<title>Web Dev Project</title>
	{% endif %}
	<!-- Standard template for all page styles -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>
	<!-- Top section containing name of site -->
	<header class="template">
		<!-- Page Name -->
		{% if title %}
		<h1>{{ title }}</h1>
		{% else %}
		<h1>Web Dev Project</h1>
		{% endif %}
	</header>

	<!-- Navigation Bar -->
	<!-- Uses Expanding Boxes -->
	<nav class="template">
		<a href="{{ url_for('home') }}">HOME</a>
		<a href="{{ url_for('about') }}">ABOUT</a>
		<a href="{{ url_for('topRanks') }}">TOP RANKS</a>
		<a href="{{ url_for('compare') }}">COMPARE</a>
		<a href="{{ url_for('account') }}">ACCOUNT</a>
		<a href="{{ url_for('login') }}">Login</a>
		<!-- Account will contain: " Create An Account | Sign In "-->
		<!-- Alter " Create Account | Sign In " to a dropdown box of account information.-->
	</nav>

	<!-- Sidebar -->
	<aside class="template">
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
		<a href=""><div>Aside</div></a>
	</aside>

	<!-- Main body seperated by sections -->
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	{% block content %} {% endblock content %}

	<footer class="template">
		<!-- Referencing links -->
		<div>
			<a href="">Contact Us</a>
			<a href="">OtherLink</a>
			<a href="">OtherLink</a>
			<a href="">OtherLink</a>
			<a href="">OtherLink</a>
		</div>

		<div>
			<a href="">OtherLink</a>
			<a href="">OtherLink</a>
			<a href="">OtherLink</a>
			<a href="">OtherLink</a>
			<a href="">OtherLink</a>
		</div>

		<br>
		<p>
			UWA CITS3403 Agile Web Development Project. Created by Henry Smith and Grant Alexander Taylor.
		</p>
	</footer>
</body>