{% extends "layout.html" %}
{% block content %}
	<h1>Top Ranks Page</h1>
	<h2>Top Posts of All Time</h2>
<ol>
	{% for i in range(0, 5)%}
	<li id="list{{i}}">Title: {{ post_popular[i]["data"]["title"] }}<br>
		Posted on: {{ post_popular[i]["data"]["subreddit"] }}<br>
		Created: {{ datetime(post_popular[i]["data"]["created"]) }}<br>
		<img scr="{{ post_popular[0]['data']['preview']['images'][0]['source']['url']|safe }}"><br>
		Up Votes: {{ post_popular[i]["data"]["ups"] }}
	</li>
	<br>
	{% endfor %}
</ol>

{% endblock content %}
